.card-container{
  display: flex;
  width: 480px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  margin: 0 auto; /* Centra el contenedor en pantallas más grandes */
  max-width: 100%; /* Asegura que el contenedor no exceda el ancho de la pantalla */

}
.card-image-container{
  width: 245px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden; /* Hace que la imagen se ajuste sin distorsionarse */
}
.card-image1 {
  width: 100%; /* La imagen ocupará el ancho completo del contenedor */
  height: 100%;
  object-fit: cover; /* Hace que la imagen se ajuste sin distorsionarse */
}
.card-image2 {
  display: none; /* Oculta la imagen de móvil por defecto */
}

.sub-title{
  color: var(--dark_grayish_blue);
  font-size: 12px;
}
.card{
  padding: 20px;
}
.sub-title{
  letter-spacing: 5px;
  font-size: 10px;
}
.card-title{
  font-size: 29px;
  width: 160px;
  font-weight: bolder ;
  font-family: "Fraunces", serif;
  line-height: 1;
}
.action-buttons{
  position: relative;
}
@media (min-width: 375px) {
  .card-image1 {
    display: none; /* Oculta la imagen de escritorio en pantallas pequeñas */
  }
  .card-image-container{
    width: 100%; /* La imagen de móvil ocupa el ancho completo del contenedor */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }

  .card-image2 {
    display: block; /* Muestra la imagen de móvil en pantallas pequeñas */
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .card-container{
    display: block;
    width: 250px;
    overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  }
  .card-title{
    font-size: 28px;
    width: 250px;
  }
}
