body {
  margin: 0;

  font-optical-sizing: auto;
  background-color: var(--color-primary-pale-blue);
  width: 100%;
  height: 100vh; /* Hace que ocupe toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
  background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantiene la imagen fija mientras se hace scroll */
  font-family: "Montserrat", sans-serif;
}

:root {
  /* Primary Colors */
  --dark_cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral Colors */
  --very_dark_blue: hsl(212, 21%, 14%);
  --dark_grayish_blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
